@import "tailwindcss";

@theme {
  /* Definimos los colores */
  --color-rigo-dark: #1a1a1a;
  --color-rigo-clay: #a68a64;
  --color-rigo-cream: #f5f5f7;

  /* Definimos la fuente para que 'font-sans' la use */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  
  /* Forzamos que los valores arbitrarios de texto se generen siempre */
  --text-12rem: 12rem;
  --text-14rem: 14rem;
}

@layer utilities {
  .outline-text {
    -webkit-text-stroke: 1px currentColor;
    color: transparent;
  }
}

body {
  background-color: #0f0f0f;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}